services:
    nginx:
        build:
            context: ./build/nginx
            dockerfile: Dockerfile
        volumes:
            - ./app/:/var/www/app/
        ports:
            - "80:80"
        networks:
            - recipe
        depends_on:
            - php
            - mysql
    php:
        build:
            context: ./build/php
            dockerfile: Dockerfile
        environment:
            APP_ENV: dev
        volumes:
            - ./app/:/var/www/app/
        networks:
            - recipe
        depends_on:
            - mysql
    mysql:
        image: mysql:8.0
        command:
            [
                "--character-set-server=utf8mb4",
                "--collation-server=utf8mb4_unicode_ci",
                "--default-authentication-plugin=mysql_native_password",
            ]
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: recipe
            MYSQL_USER: recipe
            MYSQL_PASSWORD: recipe
        ports:
            - "3306:3306"
        volumes:
            - ./mysql:/var/lib/mysql
        networks:
            - recipe

networks:
    recipe: ~
