<div class="card shadow rounded-top">
    <div class="card-header bg-dark text-white rounded-top">
        <h2 class="mb-0">
            Instructions 
            <i class="fa-solid fa-clipboard-list mx-1"></i>
        </h2>
    </div>
    <div class="card-body">
        <p style="font-size: 1.2em;">
            {{ recipe.instructions }}
        </p>
    </div>
</div>
