{% extends 'base.html.twig' %}

{% block title %}{{ title ?? 'Recipes' }}{% endblock %}

{% block content %}
<div class="container">
    {% include 'partial/listHeader.html.twig' with { 
        'header': 'Ingredients',
        'pathName': 'ingredient_list',
        'field': 'i.name',
        'fieldName': 'Name'
    } %}

    <div class="row">
        <div class="col-md-12 mx-auto">
            <ul class="list-group shadow">
                <li class="list-group-item d-flex justify-content-between align-items-baseline">
                    <div class="d-flex">
                        <span class="mx-4"><strong>Name</strong></span>
                    </div>
                    <span class="mx-4"><strong>Action</strong></span>
                </li>
                {% for ingrendient in pagination %}
                    <li class="list-group-item d-flex justify-content-between align-items-baseline">
                        <div class="d-flex">
                            <span class="mx-4">{{ ingrendient.name}}</span>
                        </div>
                        <a href="{{ path('ingredient_show', { id: ingrendient.id }) }}">🔍Details</a>
                    </li> 
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include 'partial/pagination.html.twig' with { 'pagination': pagination } %}
</div>

{% endblock %}

